@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    background: var(--white);
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  a:link{
    color:skyblue;
  }
  a:visited{
    color:skyblue;
  }
  
  .social-buttons {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.social-buttons button {
    cursor: pointer;
    width: 150px;
    height: 150px;
    color: #fff;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .25s ease;
}

.social-buttons button:active {
    transform: scale(.85);
}

.social-buttons button .bg {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #4135d6;
    border-radius: 25px;
    pointer-events: none;
    box-shadow: 0 0 30px #4135d658;
}

.social-buttons button i {
    position: relative;
    z-index: 10;
    font-size: 28px;
    pointer-events: none;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}



  /* a:hover{
    color:orange;
  }
  a:focus{
    color:green;
  }
  a:active{
    color:red;
  } */